// Uncomment below to remove border radius on projects and pagination items (pre v6.5)
/*
.card, .pagination-item {
  border-radius: 0!important;
}
*/

// Uncomment below to restore the old (pre v6.5) sidebar
/*
@media screen {
  .sidebar-sticky {
    left: 2rem;
    max-width: none;
  }
}
*/
code,
tt
    padding: 1px 0
    font-family: $code-font-family
    font-size: 12px
    line-height: 20px
    background: #ffff00
    border-radius: 2px
    border-radius: 2px